$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);
$white: hsl(255, 100%, 100%);
$very-light-gray: hsl(0, 0%, 98%);
$very-pale-red: rgb(255, 239, 235);
$dark-grayish: hsl(227, 12%, 61%);
$black: #000;
